.post_text {
  color: $font-color;
  font-size: 13px;
  margin-top: 0;
}

.button:hover {
  background: none repeat scroll 0 0 #353535;
}

.post {
  border-bottom: 1px solid #1E1F1F;
  margin-bottom: 15px;
  padding-bottom: 45px;
  h3, h2 {
    font-size: 22px;
  }
  &.col-2 {
    margin-bottom: 25px;
    padding-bottom: 10px;
    .post_img {
      margin-bottom: 0;
    }
    h2 {
      margin: 10px 0 0;
    }
    .post_text {
      margin-top: 10px;
    }
  }
}

.meta {
  bottom: 0;
  left: 0;
  list-style: none outside none;
  margin-bottom: 1px;
  position: absolute;
  li {
    background: url("../images/meta_bg.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: inline-block;
    font-family: 'Open Sans',sans-serif;
    font-size: 11px;
    height: 37px;
    line-height: 37px;
    padding: 0 10px;
    width: 110px;
  }
}

.post.article-teaser {
  h2 {
    margin: 0 0 0.4em;
  }
  margin-bottom: 20px;
  padding-bottom: 0;
  .meta {
    margin-bottom: 2px;
  }
  a {
     color: #FFFFFF;
  }
  .button {
  	bottom: 0px;
  }
}

.popular-tags {
	margin-top: 25px;
}

.article-full {
	.image img {
		width: 100%;
	}
	.meta {
		top: 5px;
		left: 15px;
		a {
			color: white;
		}
	}
	.article-tags {
		a {
		  background: none repeat scroll 0 0 $pagination-bgcolor;
		  border-radius: 5px 5px 5px 5px;
		  float: left;
		  color: $button-color;
		  font-family: 'Open Sans',sans-serif;
		  font-size: 11px;
		  margin: 5px;
		  padding: 4px;
			&:hover {
			  background: none repeat scroll 0 0 $tags-hover;
			  a {
				background: none repeat scroll 0 0 $tags-hover;
			  }
   			}
	  	}		
	
	}
}



.tags, .com_content .links{
  list-style: none outside none;
  margin-bottom: 20px;
  li {
    background: none repeat scroll 0 0 $pagination-bgcolor;
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin: 2px;
    a {
      background: none repeat scroll 0 0 $pagination-bgcolor;
      color: $button-color;
      font-family: 'Open Sans',sans-serif;
      font-size: 11px;
      margin: 5px;
    }
    &:hover {
      background: none repeat scroll 0 0 $tags-hover;
      a {
        background: none repeat scroll 0 0 $tags-hover;
      }
    }
  }
}


.comment-wrapper {
  list-style: none outside none;
  margin: 0;
  overflow: hidden;
}

.com_main {
  border-bottom: 1px solid #1F2021;
  height: 110px;
  margin: 0;
  padding-bottom: 0;
}

.avatar {
  border: 5px solid $highlight-color;
  border-radius: 5px 5px 5px 5px;
  float: left;
  height: 80px;
  margin-right: 15px;
  margin-left: 10px;
  position: relative;
  width: 80px;
  img {
    height: 70px;
    width: 70px;
  }
}

.com_detail {
		.field-name-comment-body {
		  color: #868686;
		  font-family: 'Open Sans',sans-serif;
		  font-size: 13px;
		  margin-bottom: 50px;
		}
		span {
			margin-bottom: 10px;
			color: #FFF;
		}

}

.username {
  color: #3C3C3C;
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
}

.com_date {
  color: #B8B8B8;
  font-family: 'Open Sans',sans-serif;
  font-size: 11px;
}


.com_reply {
  float: left;
  margin-top: -5px;
  width: 100%;
  a.button {
    background: none repeat scroll 0 0 #868686;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-family: 'Open Sans',sans-serif;
    font-size: 11px;
  }
}



.com_content {
  	float: left;
	.links {
		bottom: 5px;
		right: 5px;
		position: absolute;
	
	}
	.com_title {
		font-size: 1.5em;
		margin-bottom: 5px;
		a {
		   color: $font-color;
		}
	}
}

.share-this {
	.widgets {
		border: none;
	}
}


.popular-posts .post {
  margin-bottom: 20px !important;
  padding: 0;
}


.mod_con_text {
  h5 {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
  }
  p {
    color: $topbar-highlight-color;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    margin: 0;
  }
  a {
    color: $body-font-color;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    font-style: italic;
    text-decoration: underline;
  }
}