.l-footer {
  background: url("../images/footer_shadow.png") no-repeat scroll center top $footer-bgcolor;
  padding-top: 30px;


	 > .row {
	  background: url("../images/footer_bottom_sep.png") repeat-x scroll center bottom transparent;
	  margin-bottom: 20px;
	}

	.block-title {
	  background: url("../images/footer_title_border.png") no-repeat scroll center bottom transparent;
	  color: $highlight-color;
	  font-size: 18px;
	  padding-bottom: 10px;
	}
	.l-footer-columns {
	  padding: 30px 0 50px;
	}
}


.footer-block {
  color: $panel-color;
  font-size: 13px;
  margin-top: 10px;

  span.foot_about {
    color: #737373;
    font-size: 13px;
  }
  a.foot_about {
    color: $button-color;
    font-size: 13px;
  }
  img {
    margin-bottom: 5px;
  }
  a.button {
    margin-top: 15px;
  }



  input[type="text"], textarea {
    background: none repeat scroll 0 0 $footer-bgcolor;
    border: 1px solid #131313;
    color: $footer-color;
  }
  input[type="text"] {
    height: 32px;
  }
  textarea {
    height: 80px;
  }
  input[type="text"]:hover, textarea:hover {
    background: none repeat scroll 0 0 #232323;
  }
  a.postfix {
    background: none repeat scroll 0 0 $highlight-color;
    border: 1px solid #242424;
    color: $button-color;
    font-size: 11px;
  }
}


.scrollup {
    background: url("../images/scrollup.png") no-repeat scroll center center transparent;
    bottom: 0px;
    display: none;
    height: 58px;
    left: 50%;
    margin-left: -29px;
    opacity: 0.9;
    position: absolute;
    text-indent: -9999px;
    width: 58px;
    z-index: 99999;
}
