/*.mg-col-1 {
    width: 100% !important;
}

.media-gallery-detail  {
  width: 100% !important;
}

.mg-col-2 {
    width: 50% !important;
}

.mg-col-3 {
    width: 33.3% !important;
}

.mg-col-4 {
    width: 24.96% !important;
}

.mg-col-5 {
    width: 20% !important;
}

.mg-col-6 {
    width: 16.6666666665% !important;
}

.mg-col-7 {
    width: 14.2857142857% !important;
}

.mg-col-8 {
    width: 12.5% !important;
}

.mg-col-9 {
    width: 11.1111111111% !important;
}

.mg-col-10 {
    width: 10% !important;
}
*/
.mg-col .mg-gallery.mg-teaser {
  float: left;
  margin: 0;
  outline: none;
  position: relative;
  .content {
    margin: 0;
    outline: none;
    position: relative;
  }
  h2 {
    display: none;
  }
  .float-overflow {
    margin: 0.5em;
    overflow: visible;
    position: relative;
  }
}

/* @end */
