.viewing {
  cursor: default;
  overflow: hidden;
  position: relative;
  text-align: center;
  .mask, .content {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }
  img {
    display: block;
    position: relative;
  }
  h3 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    font-family: 'Open Sans',sans-serif !important;
    padding: 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
  }
  p {
    color: #FFFFFF;
    font-family: 'Open Sans',sans-serif !important;
    font-style: italic;
    padding: 10px 20px 20px;
    position: relative;
    text-align: center;
  }
  a.info {
    background: none repeat scroll 0 0 #000000;
    box-shadow: 0 0 1px #000000;
    color: #FFFFFF;
    display: inline-block;
    padding: 7px 14px;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      box-shadow: 0 0 5px #000000;
    }
  }
}



.portfolio-3-colums-exposed-filter {
  border-bottom: 1px solid #070708;
  border-top: 1px solid #070708;
  margin-bottom: 20px;
  padding: 20px 0;
  .form-type-bef-link, {
    display: inline-block;
    margin-left: 20px;
    &:first-child {
      margin-left: 0;
    }
    &.selected a, &:hover a {
      background: none repeat scroll 0 0 $highlight-color;
      border-radius: 4px 4px 4px 4px;
      color: #FFFFFF;
    }
    a {
      color: #CECECE;
      font-family: 'Open Sans',serif;
      font-size: 14px;
      font-weight: bold;
      padding: 4px 10px;
      text-transform: uppercase;
    }
  }
}

.portfolio-content, .filter {
  list-style: none outside none;
}

.portfolio-content li {
  margin-bottom: 20px;
}


.port-grid {
  img {
    opacity: 1;
    transition: all 0.4s ease-in-out 0.2s;
  }
  .mask {
    background-color: rgba(4, 55, 108, 0.8);
    border-radius: 0 0 0 0;
    opacity: 0;
    transform: scale(0) rotate(-180deg);
    transition: all 0.2s ease-in 0s;
    a.btn-icon {
      background: url("../images/pbutton_bg.png") no-repeat scroll 0 0 transparent;
      bottom: 0;
      display: block;
      height: 41px;
      position: absolute;
      right: -10px;
      text-align: center;
      width: 41px;
      &.icon-2 {
        right: 34px;
      }
      i {
        display: block;
        font-size: 17px;
        font-weight: normal;
        line-height: 28px;
      }
    }
  }
  h3 {
    background: none repeat scroll 0 0 transparent;
    font-family: 'Open Sans',sans-serif !important;
    font-size: 18px;
    margin-bottom: 0;
    opacity: 0;
    text-transform: none;
  }
  p {
    font-family: 'Open Sans',sans-serif !important;
    font-size: 14px;
    font-style: normal;
    margin: 0;
    opacity: 0;
    padding: 0 10px 10px;
  }
  a.info {
    opacity: 0;
    transition: all 0.5s ease-in-out 0s;
  }
  &:hover {
    .mask {
      opacity: 1;
      transform: scale(1);
      transition-delay: 0.2s;
    }
    img {
      opacity: 100;
      transform: scale(1.8);
      transition-delay: 0s;
    }
    h3, p, a.info {
      opacity: 1;
      transition-delay: 0.5s;
    }
  }
}


.recent_projects_carousel {
  max-width: 100%;
  position: relative;
}

.recent_projects_carousel_list {
  list-style: none outside none;
  max-width: 100% !important;
}

.caroufredsel_wrapper {
  max-width: 100% !important;
}

.recent_projects_carousel_list {
  li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
  }
  &.related-projects li {
    margin-left: 10px;
    margin-right: 10px;
    &:first-child {
      margin-left: 0;
    }
  }
  li img {
    display: block;
    float: left;
    height: 180px;
    width: 262px;
  }
}

a {
  &.prev, &.next {
    background: none repeat scroll 0 0 #767676;
    color: #B8B8B8;
    display: block;
    font-size: 25px;
    font-weight: bold;
    height: 30px;
    line-height: 18px;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: 25px;
    vertical-align: middle;
    width: 30px;
  }
  &.prev {
    background-position: 0 0;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    right: 44px;
  }
  &.next {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    right: 10px;
  }
  &.prev.disabled, &.next.disabled {
    cursor: default;
  }
  &.prev span, &.next span {
    display: none;
  }
}



.portfolio-carousel-block .block-title {
  background: none repeat scroll 0 0 #232527;
  border: 1px solid #000000;
  margin: 25px 0 15px;
  .icon-container {
    background: none repeat scroll 0 0 $highlight-color;
    float: left;
    height: 55px;
    padding-right: 0 !important;
    text-align: center;
    width: 63px;
  }
  .icon {
    color: $button-color;
    display: block;
    font-size: 30px;
    line-height: 55px;
    padding-right: 0 !important;
  }

 h2 {
  color: $button-color;
  float: left;
  font-size: 15px;
  font-weight: bold;
  line-height: 55px;
  margin: 0 0 0 10px !important;
  padding: 0;
  text-transform: uppercase;
  }
}


