.testimonial-block a {
  &.prev, &.next {
    top: 38px;
  }
  &.prev {
    right: 60px;
  }
  &.next {
    right: 26px;
  }
}

.testimonial_slide li {
  max-width: 100%;
  width: 352px;
}

.testimonial-content {
  background: none repeat scroll 0 0 #1A1C1E;
  color: #FFFFFF;
  font-family: Georgia;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 15px;
  padding: 20px;
  position: relative;
  &:after, &:before {
    border: medium solid transparent;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
  }
  &:after {
    border-color: #1A1C1E #232527 #232527;
    border-width: 10px;
    margin-left: 1px;
  }
  &:before {
    border-color: #1A1C1E #232527 #232527;
    border-width: 11px;
  }
}

.module_content cite {
  color: #484848;
  font-family: Georgia;
  font-size: 17px;
  font-style: italic;
}

.test_author {
  color: #F2C025;
  font-family: Georgia;
  font-size: 11px;
  font-style: italic;
}
