.breadcrumbs {
  background: none repeat scroll 0 0 $breadcrumb-bg;
  border: medium none;
  border-radius: 0 0 0 0 !important;
  line-height: 1.4em;
  margin: 1.4em -1px 0 0;
  padding: 0.375em;
  * {
    color: $breadcrumb-color !important;
  }
  li {
    &:before {
      color: $breadcrumb-color;
    }
    padding-bottom: 0.1em;
    padding-top: 0.1em;
    &:first-child {
      padding-left: 0.7em;
    }
    a, span {
      font-size: 0.85em;
    }
  }
}