// Docs: http://foundation.zurb.com/docs/components/buttons.html
//
// Before adding styles be sure to modify variables in the
// "scss/_variables.scss" file.


button, .button {
  background-color: $button-bgcolor;
  border: medium none;
  color: $button-color;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 1em;
  font-weight: 300;
  line-height: 1;
  margin: 0 0 1.25em;
  padding: 0.75em 1.5em 0.8125em;
  position: relative;
  text-align: center;
  text-decoration: none;
  &:hover, &:focus {
    background-color: $highlight-color;
  }
  &:hover, &:focus {
    color: $button-color;
  }
  &.secondary {
    background-color: $button-secondary-bgcolor;
    border-color: $button-secondary-bordercolor;
    color: $button-secondary-color;
    &:hover, &:focus {
      background-color: $button-secondary-bordercolor;
    }
    &:hover, &:focus {
      color: $button-secondary-color;
    }
  }
  &.success {
    background-color: $button-success-bgcolor;
    border-color: $button-success-bordercolor;
    color: $button-color;
    &:hover, &:focus {
      background-color: $button-success-bordercolor;
    }
    &:hover, &:focus {
      color: $button-color;
    }
  }
  &.alert {
    background-color: $button-alert-bgcolor;
    border-color: $button-alert-bordercolor;
    color: $button-color;
    &:hover, &:focus {
      background-color: $button-alert-bordercolor;
    }
    &:hover, &:focus {
      color: $button-color;
    }
  }
  &.large {
    font-size: 1.25em;
    padding: 1em 2em 1.0625em;
  }
  &.small {
    font-size: 0.8125em;
    padding: 0.5625em 1.125em 0.625em;
  }
  &.tiny {
    font-size: 0.6875em;
    padding: 0.4375em 0.875em 0.5em;
  }
  &.expand {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  &.left-align {
    text-align: left;
    text-indent: 0.75em;
  }
  &.right-align {
    padding-right: 0.75em;
    text-align: right;
  }
  &.disabled, &[disabled] {
    background-color: $highlight-color;
    border-color: $highlight-color;
    box-shadow: none;
    color: $button-color;
    cursor: default;
    opacity: 0.6;
  }
  &.disabled {
    &:hover, &:focus {
      background-color: $highlight-color;
    }
  }
  &[disabled] {
    &:hover, &:focus {
      background-color: $highlight-color;
    }
  }
  &.disabled {
    &:hover, &:focus {
      color: $button-color;
    }
  }
  &[disabled] {
    &:hover, &:focus {
      color: $button-color;
    }
  }
  &.disabled {
    &:hover, &:focus {
      background-color: $highlight-color;
    }
  }
  &[disabled] {
    &:hover, &:focus {
      background-color: $highlight-color;
    }
  }
  &.disabled.secondary, &.secondary[disabled] {
    background-color: $button-secondary-bgcolor;
    border-color: $button-secondary-bordercolor;
    box-shadow: none;
    color: $button-secondary-color;
    cursor: default;
    opacity: 0.6;
  }
  &.disabled.secondary {
    &:hover, &:focus {
      background-color: $button-secondary-bordercolor;
    }
  }
  &.secondary[disabled] {
    &:hover, &:focus {
      background-color: $button-secondary-bordercolor;
    }
  }
  &.disabled.secondary {
    &:hover, &:focus {
      color: $button-secondary-color;
    }
  }
  &.secondary[disabled] {
    &:hover, &:focus {
      color: $button-secondary-color;
    }
  }
  &.disabled.secondary {
    &:hover, &:focus {
      background-color: $button-secondary-bgcolor;
    }
  }
  &.secondary[disabled] {
    &:hover, &:focus {
      background-color: $button-secondary-bgcolor;
    }
  }
  &.disabled.success, &.success[disabled] {
    background-color: $button-success-bgcolor;
    border-color: $button-success-bordercolor;
    box-shadow: none;
    color: $button-color;
    cursor: default;
    opacity: 0.6;
  }
  &.disabled.success {
    &:hover, &:focus {
      background-color: $button-success-bordercolor;
    }
  }
  &.success[disabled] {
    &:hover, &:focus {
      background-color: $button-success-bordercolor;
    }
  }
  &.disabled.success {
    &:hover, &:focus {
      color: $button-color;
    }
  }
  &.success[disabled] {
    &:hover, &:focus {
      color: $button-color;
    }
  }
  &.disabled.success {
    &:hover, &:focus {
      background-color: $button-success-bgcolor;
    }
  }
  &.success[disabled] {
    &:hover, &:focus {
      background-color: $button-success-bgcolor;
    }
  }
  &.disabled.alert, &.alert[disabled] {
    background-color: $button-alert-bgcolor;
    border-color: $button-alert-bordercolor;
    box-shadow: none;
    color: $button-color;
    cursor: default;
    opacity: 0.6;
  }
  &.disabled.alert {
    &:hover, &:focus {
      background-color: $button-alert-bordercolor;
    }
  }
  &.alert[disabled] {
    &:hover, &:focus {
      background-color: $button-alert-bordercolor;
    }
  }
  &.disabled.alert {
    &:hover, &:focus {
      color: $button-color;
    }
  }
  &.alert[disabled] {
    &:hover, &:focus {
      color: $button-color;
    }
  }
  &.disabled.alert {
    &:hover, &:focus {
      background-color: $button-alert-bgcolor;
    }
  }
  &.alert[disabled] {
    &:hover, &:focus {
      background-color: $button-alert-bgcolor;
    }
  }
}

input.button, button.button {
  padding-bottom: 0.75em;
  padding-top: 0.8125em;
}

input.button.tiny, button.button.tiny {
  padding-bottom: 0.4375em;
  padding-top: 0.5em;
}

input.button.small, button.button.small {
  padding-bottom: 0.5625em;
  padding-top: 0.625em;
}

input.button.large, button.button.large {
  padding-bottom: 1.03125em;
  padding-top: 1.03125em;
}

@media only screen {
  button, .button {
    box-shadow: none;
    &:active {
      box-shadow: none;
    }
    &.radius {
      border-radius: 3px 3px 3px 3px;
    }
    &.round {
      border-radius: 1000px 1000px 1000px 1000px;
    }
  }
}

@media only screen and (min-width: 48em) {
  button, .button {
    display: inline-block;
  }
}

