//Navigation

.side-nav {
  display: block;
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  padding: 0.875em 0;
  li {
    font-size: 0.875em;
    margin: 0 0 0.4375em;
    a {
      color: $sidenav-link-color;
      display: block;
      &.active {
        color: $sidenav-link-active;
        font-weight: bold;
      }
    }
    &.divider {
      border-top: 1px solid #E6E6E6;
      height: 0;
      list-style: none outside none;
      padding: 0;
    }
  }
}

.sub-nav {
  display: block;
  margin: -0.25em 0 1.125em -0.5625em;
  overflow: hidden;
  padding-top: 0.25em;
  width: auto;
  dt, dd {
    display: inline;
    float: left;
    font-size: 0.875em;
    font-weight: normal;
    margin-bottom: 0.625em;
    margin-left: 0.5625em;
  }
  dt a, dd a {
    color: #999999;
    text-decoration: none;
  }
  dt.active a, dd.active a {
    background: none repeat scroll 0 0 $highlight-color;
    border-radius: 1000px 1000px 1000px 1000px;
    color: #FFFFFF;
    cursor: default;
    font-weight: bold;
    padding: 0.1875em 0.5625em;
  }
}

[data-magellan-expedition] {
  background: none repeat scroll 0 0 transparent;
  min-width: 0;
  padding: 0;
  z-index: 99999;
}

//Pager and pagination

.pagination-wrapper {
  margin-bottom: 40px;
}

ul.pagination li {
  &.current a {
    background: none repeat scroll 0 0 $highlight-color;
    &:hover {
      background: none repeat scroll 0 0 $highlight-color;
    }
  }
  > a {
    background: none repeat scroll 0 0 $pagination-bgcolor;
    color: #FFFFFF;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    padding: 4px 10px;
  }
  a:hover {
    background: none repeat scroll 0 0 $highlight-color;
  }
}


//Others


.timer {
  background-color: #999999;
  height: 6px;
  width: 0;
}

.magellan-demo {
  background: none repeat scroll 0 0 #444444;
  padding: 8px 10px;
}

.panel {
  background: none repeat scroll 0 0 $revealpanel-bgcolor;
  border-color: #333333;
}

.reveal-modal {
  background: none repeat scroll 0 0 $revealpanel-bgcolor;
}

.f-dropdown {
  &.content {
    background: none repeat scroll 0 0 $revealpanel-bgcolor;
  }
  background: none repeat scroll 0 0 $revealpanel-bgcolor;
  color: #C0C0C0;
  li a {
    color: #C0C0C0;
  }
}

.panel {
  h1, h2, h3, h4, h5, h6, p {
    color: $panel-color;
  }
}




.post_img {
  margin-bottom: 10px;
  position: relative;
}

.widgets {
  border: 1px solid $widgets-border;
  margin-bottom: 15px;
  > h3 , h2 {
    background: none repeat scroll 0 0 $revealpanel-bgcolor;
    color: $button-color;
    font-size: 17px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding-left: 20px;
    text-transform: uppercase;
  }
}

.wid_content {
  padding: 20px;
}

.widgets {
  ul.categories {
    list-style: none outside none;
    margin-bottom: 0;
    li {
      background: url("../images/list1.png") no-repeat scroll left center transparent;
      color: $panel-color;
      line-height: 26px;
      padding-left: 20px;
    }
    a {
      color: $panel-color;
      font-family: 'Open Sans',sans-serif;
      font-size: 13px;
      &:hover {
        color: $widgets-color;
      }
    }
    span {
      color: $highlight-color;
      font-family: 'Open Sans',sans-serif;
      margin-left: 4px;
    }
  }
  &.side-widgets {
    border: medium none;
  }
}

.side-nav li {
  font-size: 1em;
}

.section-container {
  section .title a, .section .title a {
    font-size: 1em;
  }
  &.auto {
    section .title a, .section .title a {
      font-size: 1em;
    }
  }
}

.widgets {
  a.user, p.wid_date {
    color: $pagination-bgcolor;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
  }
}

.thumbs {
  margin: 0;
  overflow: hidden;
  padding: 0;
  li {
    float: left;
    list-style: none outside none;
    a! {}
    img {
      display: block;
    }
    a img {
      border: medium none;
      height: 66px;
      margin: 6px;
      width: 66px;
      &:hover {
        border: 6px inset $highlight-color;
      }
    }
  }
}


.contact_title {
  color: $highlight-color;
  font-family: 'Open Sans',sans-serif;
  font-size: 21px;
  font-weight: bold;
  margin-top: 20px;
}

.contact_text {
  color: #8D8D8D;
  font-family: 'Open Sans',sans-serif;
  font-size: 13px;
}

.contact_form {
  margin-top: 20px;
  input[type="text"], input[type="email"], textarea {
    background: none repeat scroll 0 0 #4E4F51;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: $button-color;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    height: 50px;
  }
  input {
    &[type="submit"] {
      border-radius: 5px 5px 5px 5px;
      margin-top: 10px;
    }
    &:hover, &:focus {
      background: none repeat scroll 0 0 #4E4F51;
    }
  }
  textArea {
    height: 135px;
  }
}

.success {
  color: #008000;
  font-weight: bold;
}

.error {
  color: #FF0000;
  font-weight: bold;
}

.contact_form {
  div {
    &.small-4.columns, &.large-4.columns {
      padding-left: 0;
    }
    &.small-4.columns:first-child, &.large-4.columns:first-child {
      padding-left: 1.25em;
    }
  }
  a.button {
    border-radius: 5px 5px 5px 5px;
    color: $button-color;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin-top: 15px;
    padding: 1.4em 1.7em;
  }
}

.contact_info {
  color: $contact-info-color;
  font-family: Arial;
  font-size: 13px;
  margin-top: 15px;
  a {
    color: $contact-info-color;
    text-decoration: underline;
  }
  img {
    margin-bottom: 5px;
  }
}

#map_canvas {
  height: 450px;
  width: 100%;
}

.filter {
  border-bottom: 1px solid #070708;
  border-top: 1px solid #070708;
  margin-bottom: 20px;
  padding: 20px 0;
  li {
    display: inline-block;
    margin-left: 20px;
    &:first-child {
      margin-left: 0;
    }
    &.active a, &:hover a {
      background: none repeat scroll 0 0 $highlight-color;
      border-radius: 4px 4px 4px 4px;
      color: $button-color;
    }
    a {
      color: #CECECE;
      font-family: 'Open Sans',serif;
      font-size: 14px;
      font-weight: bold;
      padding: 4px 10px;
      text-transform: uppercase;
    }
  }
}

.portfolio-content, .filter {
  list-style: none outside none;
}

.portfolio-content li {
  margin-bottom: 20px;
}

.post.single-post {
  padding-bottom: 10px;
}

.color {
  color: $highlight-color;
}


.proj_image img {
  width: 770px;
}

.proj_view a.button {
  background: none repeat scroll 0 0 $highlight-color;
  color: $button-color;
  font-family: 'Open Sans',sans-serif;
  font-size: 13px;
  &:hover {
    background: none repeat scroll 0 0 #A9861A;
  }
}

.section-container {
  section .content, .section .content {
    background: none repeat scroll 0 0 $tags-hover;
  }
  &.auto {
    section .content, .section .content {
      background: none repeat scroll 0 0 $tags-hover;
    }
  }
}

.clearfix {
  clear: both;
  float: none;
}

.testimonial-block a {
  &.prev, &.next {
    top: 38px;
  }
  &.prev {
    right: 60px;
  }
  &.next {
    right: 26px;
  }
}

.social-icons {
  li {
    background: none repeat scroll 0 0 #585858;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    height: 32px;
    margin-left: 6px;
    text-align: center;
    width: 32px;
    &:hover {
      background: none repeat scroll 0 0 $highlight-color;
    }
  }
  i {
    color: $tags-hover;
    font-size: 20px;
    padding: 6px 6px 4px 4px;
  }
}

.mediumicon {
   font-size: 2em; 
   color: #FFF;
 
}

.largeicon {
   font-size: 3em; 
   color: #FFF;
}

.about-info {
  li {
    line-height: 30px;
    list-style: none outside none;
    span, a {
      color: #EEEEEE;
      font-size: 13px;
    }
    &:hover {
      a, span {
        color: $button-color;
      }
    }
    a:hover {
      text-decoration: underline;
    }
  }
  i {
    color: #4F5052;
    font-size: 16px;
  }
}

.contact_info .about-info li {
  &:hover {
    a, span {
      color: $button-color;
    }
  }
  span, a {
    color: $footer-color;
    font-weight: bold;
  }
}

.main-content-top {
  background: url("../images/page-title.png") no-repeat scroll center center transparent;
  min-height: 84px;
  padding-top: 10px;
  h2 {
    color: #595959;
    font-size: 22px;
    font-weight: bold;
    line-height: 44px;
    padding-left: 1.25em;
    text-transform: uppercase;
  }
}

body, .main-content {
  background: none repeat scroll 0 0 $body_bg;
}

.top-header {
  background: none repeat scroll 0 0 #4C4C4C;
}

@media only screen and (max-width: 48em) {
  .featured-block {
    margin-bottom: 20px;
  }
}

.panels-ipe-region h2 {
    background: none repeat scroll 0 0 #4C4C4C;
    border: 1px solid #000000;
    margin: 25px 0 15px;
}

.frontpage-panel > h2 {
  display: none;
}