// Docs: http://foundation.zurb.com/docs/components/type.html
// Before adding styles be sure to modify variables.

.title {}
.node-title {}
.page-title {}
.block-title {}

.item-list {}


//Changes in typography
a {
  color: $highlight-color;
  line-height: inherit;
  text-decoration: none;
  transition: all 0.4s ease 0s;
  &:hover, &:focus {
    color: $highlight-color;
  }
  img {
    border: medium none;
  }
}

p {
  font-family: inherit;
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 1.25em;
  aside {
    font-size: 0.875em;
    font-style: italic;
    line-height: 1.35;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $h1-color;
  font-family: $h1-font-family;
  font-weight: 300;
  margin-bottom: 0.4em;
  margin-top: 0.4em;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: $h1small-color;
  font-size: 60%;
  line-height: 0;
}

h1 {
  font-size: 2.75em;
}

h2 {
  font-size: 2.3125em;
}

h3 {
  font-size: 1.6875em;
}

h4 {
  font-size: 1.4375em;
}

h5 {
  font-size: 1.225em;
}

h6 {
  font-size: 1em;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #E5E5E5;
  border-image: none;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin: 2em 0;
  &.style-three {
    background-image: -moz-linear-gradient(left center, rgba($hr-color1,$hr-color2, $hr-color3, 0), rgba($hr-color1,$hr-color2, $hr-color3, 0.75), rgba($hr-color1,$hr-color2, $hr-color3, 0));
    border: 0 none;
    height: 1px;
  }
  &.style-four {
    border: 0 none;
    box-shadow: 0 0 10px 1px black;
    height: 0;
    &:after {
      content: " ";
    }
  }
}
