.theme-default {
  .nivoSlider {
    background: url("loading.gif") no-repeat scroll 50% 50% white;
    position: relative;
    img {
      display: none;
      left: 0;
      position: absolute;
      top: 0;
    }
    a {
      border: 0 none;
      display: block;
    }
  }
  .nivo-controlNav {
    background: url("bullet_bg.png") repeat scroll 0 0 transparent;
    border-radius: 6px 6px 6px 6px;
    left: 50%;
    margin-left: -150px;
    margin-top: -40px;
    padding: 4px 6px 6px;
    position: absolute;
    text-align: center;
    z-index: 999;
    a {
      background: none repeat scroll 0 0 #666666;
      border: 0 none;
      display: inline-block;
      height: 9px;
      margin: 0 2px;
      opacity: 0.9;
      text-indent: -9999px;
      width: 81px;
      &.active {
        background-color: #FFA500;
      }
    }
  }
  .nivo-directionNav a {
    background: url("arrows.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    display: block;
    height: 81px;
    margin-top: -81px;
    opacity: 0;
    text-indent: -9999px;
    top: 100%;
    transition: all 200ms ease-in-out 0s;
    width: 81px;
  }
  &:hover .nivo-directionNav a {
    opacity: 1;
  }
  a {
    &.nivo-nextNav {
      background-position: 0 -81px;
      right: -1px;
    }
    &.nivo-prevNav {
      left: 0;
    }
  }
  .nivo-caption {
    background: none repeat scroll 0 0 #000 transparent;
    bottom: auto;
    color: #FFFFFF;
    display: inline-block;
  font-size: 36px;
  margin-bottom: 10px;
  padding: 10px 20px;

    font-family: 'Open Sans',sans-serif;
    left: 30px;
    top: 50px;
    width: 40%;
  }
}


.theme-default {
  .nivo-caption a {
    border-bottom: 1px dotted #FFFFFF;
    color: #FFFFFF;
    &:hover {
      color: #FFFFFF;
    }
  }
  .nivo-controlNav.nivo-thumbs-enabled {
    width: 100%;
    a {
      background: none repeat scroll 0 0 transparent;
      height: auto;
      margin-bottom: 5px;
      width: auto;
    }
    img {
      display: block;
      height: auto;
      width: 120px;
    }
  }
}
