.l-featured {
     margin-top: 20px;
}

.featured-block {
  background: none repeat scroll 0 0 $featured-block-bg;
  height: 198px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear 0s;
  > a {
    color: $featured-block-link;
    display: block;
    height: 100%;
    position: relative;
    text-align: left;
    width: 100%;
  }
}

.fblock-icon {
	.icon {
	  color: $featured-block-color;
	  display: block;
	  font-size: 53px;
	  height: 50%;
	  left: 0;
	  line-height: 150px;
	  padding-right: 0;
	  position: absolute;
	  text-align: center;
	  top: -20px;
	  -webkit-transition: all 200ms linear;
	  -moz-transition: all 200ms linear;
	  -o-transition: all 200ms linear;
	  -ms-transition: all 200ms linear;
	  transition: all 200ms linear 0s;
	  width: 100%;
	}

}

.fblock-content {
  height: 50%;
  left: 0;
  position: absolute;
  top: 50%;
  width: 100%;
}

.fblock-main {
  color: $featured-block-color;
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  text-align: center;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
      transition: all 200ms linear 0s;
}

.fblock-sub {
  background: none repeat scroll 0 0 $featured-block-hoverbg;
  color: $featured-block-color;
  font-size: 14px;
  line-height: 48px;
  text-align: center;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
  transition: all 200ms linear 0s;
}

.featured-block:hover {
  background: none repeat scroll 0 0 $featured-block-hoverbg;
  .fblock-icon {
    -webkit-animation: moveFromLeft 400ms ease;
    -moz-animation: moveFromLeft 400ms ease;
    -ms-animation: moveFromLeft 400ms ease;
    animation: 400ms ease 0s normal none 1 moveFromLeft;
    color: $featured-block-color;
    font-size: 70px;
  }
  .fblock-main {
    -webkit-animation: moveFromRight 300ms ease;
    -moz-animation: moveFromRight 300ms ease;
    -ms-animation: moveFromRight 300ms ease;
    animation: 300ms ease 0s normal none 1 moveFromRight;
    color: $featured-block-bg;
  }
  .fblock-sub {
    -webkit-animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;
    animation: 500ms ease 0s normal none 1 moveFromBottom;
    background: none repeat scroll 0 0 $featured-block-bg;
    border-color: $featured-block-bg;
    color: $featured-block-color;
  }
}

@-moz-keyframes moveFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}


@-moz-keyframes moveFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}


@-moz-keyframes moveFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}


@media only screen and (max-width: 48em) {
  .featured-block {
    margin-bottom: 20px;
  }
}
