// Non-modular or client styles for .l-header region.
//Added Top bar SCSS - Brochure
@import "top-bar.scss";
@import "brochure-slider.scss";
@import "featured_block.scss";



.l-header {
  @include grid-row;  
  overflow: visible;
}

// LOGO
//--------------------------------------------------

.site_logo {

   max-height: $topbar-lineheight;
   #logo {
    color: #222222;
    font-size: 38px;
    margin-top: 10px;
    
    img {
    	max-height: $topbar-lineheight;
    }
    
   }

}


// Top Bar
//--------------------------------------------------
//.top-bar {
//  .title-area .name { display: none;}
//}





//Add featured region too 
//Slider Options

.l-featured {
} 
