.top-bar {
  background: none repeat scroll 0 0 $topbar-highlight-color transparent;
  height: $topbar-lineheight;
  line-height: $topbar-lineheight;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  ul {
    list-style: none outside none;
    margin-bottom: 0;
  }
  .row {
    max-width: none;
  }
  form {
    margin-bottom: 0;
    padding-top: 5px;
  }
  input {
    margin-bottom: 0;
    padding-top: 5px;
    height: 2.45em;
  }
  .button {
    margin-bottom: 0;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
  }
  .title-area {
    position: relative;
  }
  .name {
    font-size: $base-font-size;
    height: $topbar-lineheight;
    margin: 0;
    h1 {
      font-size: 1.0625em;
      line-height: $topbar-lineheight;
      margin: 0;
      a {
        color: $topbar-textcolor;
        display: block;
        font-weight: bold;
        padding: 0 $topbar-padding;
        width: 50%;
      }
    }
  }
  .toggle-topbar {
    position: absolute;
    right: 0;
    top: 0;
    a {
      color: $topbar-textcolor;
      display: block;
      font-size: 1em;
      font-weight: bold;
      height: $topbar-lineheight;
      line-height: $topbar-lineheight;
      padding: 0 $topbar-padding;
      position: relative;
      text-transform: uppercase;
    }
    &.menu-icon {
      left: 0;
      margin-top: -16px;
      padding-left: 90px;
      right: 0;
      top: 50%;
      a {
        color: $topbar-textcolor;
        height: 34px;
        line-height: 33px;
        padding: 0;
        text-indent: -95px;
        width: 34px;
        span {
          box-shadow: 0 10px 0 $topbar-border-width white, 0 $base-font-size 0 $topbar-border-width white, 0 22px 0 $topbar-border-width white;
          display: block;
          height: 0;
          position: absolute;
          right: 0;
          width: 16px;
        }
      }
    }
  }
  &.expanded {
    background: none repeat scroll 0 0 transparent;
    height: auto;
    .title-area {
      background: none repeat scroll 0 0 $topbar-highlight-color;
    }
    .toggle-topbar a {
      color: $topbar-togglecolor;
      span {
        box-shadow: 0 10px 0 $topbar-border-width $topbar-togglecolor, 0 $base-font-size 0 $topbar-border-width $topbar-togglecolor, 0 22px 0 $topbar-border-width $topbar-togglecolor;
        color: $topbar-textcolor;
      }
    }
  }
}

.top-bar-section {
  left: 0;
  position: relative;
  transition: left 300ms ease-out 0s;
  width: auto;
  ul {
    background: none repeat scroll 0 0 transparent;
    display: block;
    font-size: $base-font-size;
    height: auto;
    margin: 10px 0 0;
    width: 100%;
//    li {
//      z-index: 9999;
//    }
  }
  .divider {
    border-bottom: $topbar-border-width solid #4D4D4D;
    border-top: $topbar-border-width solid #1A1A1A;
    clear: both;
    height: $topbar-border-width;
    width: 100%;
  }
  ul li {
    > a {
      background: none repeat scroll 0 0 $topbar-anchorcolor;
      color: $topbar-textcolor;
      display: block;
      font-size: 1.2em;
      font-weight: 500;
      padding: 12px 0 12px $topbar-padding;
      width: 100%;
      &:hover {
        color: $topbar-highlight-textcolor;
        background: none repeat scroll 0 0 $topbar-highlight-color;
      }
      &.button {
        background: none repeat scroll 0 0 $topbar-highlight-color;
        font-size: 0.8125em;
        &:hover {
	      background: none repeat scroll 0 0 $topbar-highlight-color;
          color: $topbar-highlight-textcolor;
        }
        &.secondary {
          background: none repeat scroll 0 0 #E9E9E9;
          &:hover {
            background: none repeat scroll 0 0 #D0D0D0;
          }
        }
        &.success {
          background: none repeat scroll 0 0 #5DA423;
          &:hover {
            background: none repeat scroll 0 0 #457A1A;
          }
        }
        &.alert {
          background: none repeat scroll 0 0 #C60F13;
          &:hover {
            background: none repeat scroll 0 0 #970B0E;
          }
        }
      }
    }
    &.active a {
      background: none repeat scroll 0 0 transparent;
    }
    a.active {
      background: none repeat scroll 0 0 $topbar-highlight-color;
      color: $topbar-textcolor;
      &:hover {
        background: none repeat scroll 0 0 $topbar-highlight-color;
        color: $topbar-textcolor;
      }
    }
  }
  .has-form {
    padding: $topbar-padding;
  }
  .has-dropdown {
    position: relative;
    > a:after {
      border: medium none;
      content: ">";
      display: block;
      height: 0;
      margin-right: $topbar-margin;
      margin-top: -12px;
      position: absolute;
      right: 0;
      top: 50%;
      width: 0;
    }
    &.moved {
      position: static;
      > .dropdown {
        visibility: visible;
      }
    }
  }
  .dropdown {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    z-index: 99;
    li {
      background: none repeat scroll 0 0 $topbar-dropdowncolor;
      border-bottom: $topbar-border-width solid #959595;
      border-left: 4px solid $topbar-dropdowncolor;
      border-top: $topbar-border-width solid #575757;
      width: 100%;
      &:hover {
        background: none repeat scroll 0 0 $topbar-submenuhighlight;
        border-bottom-color: $topbar-submenuhighlight;
        border-left: 4px solid $highlight-color;
        border-top-color: $topbar-submenuhighlight;
      }
      &:first-child {
        border-top: medium none;
      }
      &:last-child {
        border-bottom: medium none;
      }
      a {
        font-size: 0.9em;
        font-weight: normal;
        padding: 8px $topbar-padding;
      }
    }
    label {
      color: $topbar-labelcolor;
      font-size: 0.625em;
      font-weight: bold;
      margin-bottom: 0;
      padding: 8px $topbar-padding 2px;
      text-transform: uppercase;
    }
  }
}

.top-bar-js-breakpoint {
  visibility: hidden;
  width: 768px !important;
}

.js-generated {
  display: block;
}

@media only screen and (min-width: 768px) {
  .top-bar-section ul li a.active {
    border-radius: 5px 5px 5px 5px;
    &:hover {
      border-radius: 5px 5px 5px 5px;
    }
  }
  .top-bar {
    background: none repeat scroll 0 0 $topbar-bgcolor;
    overflow: visible;
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    .toggle-topbar {
      display: none;
    }
    .title-area {
      float: left;
    }
    .name h1 a {
      width: auto;
    }
    input, .button {
      font-size: 0.875em;
      height: 2em;
      line-height: 2em;
      padding: 0 10px;
      position: relative;
      top: 8px;
    }
    &.expanded {
      background: none repeat scroll 0 0 #111111;
    }
  }
  .top-bar-section {
    left: 0 !important;
    ul {
      display: inline;
      height: auto !important;
      width: auto;
      li {
        float: left;
        .js-generated {
          display: none;
        }
      }
    }
    li a {
      &:not(.button) {
        background: none repeat scroll 0 0 transparent;
        line-height: 30px;
        padding: 0 $topbar-margin;
      }
      &:hover:not(.button) {
        background: none repeat scroll 0 0 $topbar-highlight-color;

      }
    }
    .has-dropdown {
      > a {
        padding-right: 35px !important;
        &:after {
          border: medium none;
          content: ">";
          display: block;
          height: 0;
          margin-right: $topbar-margin;
          margin-top: -$topbar-margin;
          width: 0;
        }
      }
      &.moved {
        position: relative;
        > .dropdown {
          visibility: hidden;
        }
      }
      &:hover > .dropdown, &:active > .dropdown {
        margin: 0;
        opacity: 1;
        visibility: visible;
      }
      .dropdown li.has-dropdown > a:after {
        border: medium none;
        content: ">";
        margin-top: -9px;
        right: 5px;
      }
    }
    .dropdown {
      background: none repeat scroll 0 0 transparent;
      left: 0;
      margin: $topbar-margin 0 0;
      opacity: 0;
      position: absolute;
      top: auto;
      transition: all 0.4s ease-in-out 0s;
      visibility: hidden;
//      z-index: 1;
      li {
        a {
          background: none repeat scroll 0 0 $topbar-highlight-color;
          line-height: 1.4;
          padding: 10px 25px;
          white-space: nowrap;
        }
        label {
          background: none repeat scroll 0 0 $topbar-highlight-color;
          white-space: nowrap;
        }
        .dropdown {
          left: 100%;
          margin: 0 0 0 $topbar-margin;
          top: 0;
        }
      }
    }
    > ul > .divider {
      border-color: -moz-use-text-color $topbar-labelcolor -moz-use-text-color $topbar-anchorcolor;
      border-style: none solid;
      border-width: medium $topbar-border-width;
      clear: none;
      height: $topbar-lineheight;
      width: 0;
    }
    .has-form {
      background: none repeat scroll 0 0 transparent;
      height: $topbar-lineheight;
      padding: 0;
    }
    ul.right li .dropdown {
      left: auto;
      right: 0;
      li .dropdown {
        right: 100%;
      }
    }
  }
}
