#views-nivo-slider-home_slideshow-block_1 {
overflow: hidden;
width: 100% !important;
height: auto !important;
}

// CHANGE TO VIEW NAME
#views-nivo-slider-home_slideshow-block_1 img {
width: 100% !important;
height: auto !important;
}
